<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>RAD MAD LIB</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Fill in this form to create a rad Mad Lib</h1>
      <form action='/mad_lib'>
        <div class='form-group'>
          <label for='name'>A Name</label>
          <input id='name' name='name' class='form-control' type='text'>
        </div>
        <div class='form-group'>
          <label for='adverb'>An Adverb</label>
          <input id='adverb' name='adverb' class='form-control' type='text'>
        </div>
        <div class='form-group'>
          <label for='nouns'>A Plural Noun</label>
          <input id='nouns' name='nouns' class='form-control' type='text'>
        </div>
        <div class='form-group'>
          <label for='vehicle'>A Vehicle</label>
          <input id='vehicle' name='vehicle' class='form-control' type='text'>
        </div>
        <div class='form-group'>
          <label for='animal'>An Animal</label>
          <input id='animal' name='animal' class='form-control' type='text'>
        </div>
        <div class='form-group'>
          <label for='noun'>A Single Noun</label>
          <input id='noun' name='noun' class='form-control' type='text'>
        </div>
        <button type='submit' class='btn'>Go!</button>
      </form>
    </div>
  </body>
</html>
