<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>WOW Mad Lib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Here is your lib</h1>
      <p>One day, @Model.GetName() went to the store ADVERB to get some NOUNS. Unfortunately before that person got there a car came out of nowhere and hit their VEHICLE. NAME got out of the VEHICLE and said many bad words at the other driver. But it wasn't a person driving the car at all - it was a ANIMAL. Now they're best NOUN.</p>
    </div>
  </body>
</html>
